<% if type == :login %>
  <% action_url = session_url %>
  <% button_label = 'Log in.' %>
<% elsif type == :new_user %>
  <% action_url = users_url %>
  <% button_label = 'Create user.' %>
<% end %>

<form action="<%= action_url %>" method="post">
  <%= auth_token %>

  <label>Email:
    <input type="text" name="users[email]" value="">
  </label>
  <br><br>

  <label>Password:
    <input type="password" name="users[password]" value="">
  </label>
  <br><br>

  <input type="submit" value=" <%= button_label %>">
</form>
