<h1>Edit This Band!!!</h1>

<%= @band.name %><br>

<%= flash[:errors] %>

<br><br>

<form action="<%= band_url %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>
  <label>Change Name:
    <input type="text" name="bands[name]" value="">
  </label>
  <br>
  <input type="submit" value="Update Band">
</form>
