<h1>New Band Page!!!</h1>


<%= flash[:errors] %>


<form action="<%= bands_url %>" method="post">
  <%= auth_token %>
  <label>
    <input type="text" name="bands[name]" value="">
  </label>
  <br>
  <input type="submit" value="Add New Band">
</form>
